.ordering
  padding-bottom: 10px
  .orderby
    border-radius: 0
    border-color: $light-grey
    background: none
    padding: 10px

.product
  border: 1px solid $light-grey
  .onsale
    position: absolute
    top: 10px
    left: 30px
  .price
    display: block


.attachment-woocommerce_thumbnail
  border-bottom: 1px solid $light-grey

.woocommerce-loop-product__title
  font-size: 15px
  color: $dark-blue
  margin: 20px 20px 10px

