@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans&subset=cyrillic')

$white: white
$green: #55c6ab

$blue: #5799cd
$dark-blue: #183152

$grey: grey
$light-grey: #d6d6d6
$bg-grey: #f0f0f0

*
  font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif

p
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

.lh-0
  line-height: 0

.btn-blue
  color: white
  display: inline-block
  background: $blue

.grey
  color: $grey
  a
    text-decoration: underline

.light-grey
  color: $light-grey

.white
  color: $white
  a
    text-decoration: underline

.bg-blue
  background: $blue

.bg-green
  background: $green

// cart, checkout, single add-to-cart
.default-btn
  display: inline-block
  background: $blue
  color: $white
  font-size: 17px
  font-weight: bold
  text-decoration: none
  padding: 15px 60px
  border-radius: 5px
  cursor: pointer
  &:hover
    background: lighten($blue, 10)

// top-sale, archive
.plus-btn
  height: 100%
  width: 100%
  background: $blue
  color: $white
  text-align: center
  cursor: pointer
  &:hover
    text-decoration: none
  span
    font-size: 25px
    font-family: 'Open Sans', Helvetica, Arial, sans-servif
    font-weight: 300

.default-input
  height: 40px
  border-radius: 5px
  font-family: 'Open Sans', Helvetica, Arial, sans-serif